<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mentor Statistic OpenClassrooms</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>format.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>jquery-3.3.1.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>jquery.tabletojson.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>DateUtils.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>config.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>Display.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>Statistics.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>Price.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>SessionModel.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>Parser.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>script.js</string>
			</dict>
		</array>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.openclassrooms.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Vincent Saluzzo. All rights reserved.</string>
	<key>NSHumanReadableDescription</key>
	<string>This extension give you statistic for last three month in Openclassrooms Mentor History dashboard</string>
</dict>
</plist>
